body{
    background-color: rgb(99, 122, 196);
    line-height: 1.5;
    font-family: sans-serif;
    text-align: justify;
    margin: 2.5em;
    padding: 2em;
    border: solid 1px;
}
h1{
    text-align: center;
    font-size: 22px;
}
h2{
    text-align: center;
    color: rgb(30, 99, 30);
}
button{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: rgba(0, 97, 153, 0.911);

    display: block;
    margin: auto;
}
button a{
    font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 255, 170);
    text-decoration: none;
}

img{
    display: block;
    margin: auto;
    width: 50%;
}
header{
    padding-top: 2em;
    padding
}